
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.about-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
  }
  
  .AboutUs{
    flex: 1; 
    padding-right: 20px; 
    
  }
  
  .image-container {
    flex: 1;
    text-align: right;
  }
  
  .aboutimg{
      width: 50px;
      margin-right: 50px;
      margin-top: -350px;
  }

  .about-block{
      width: 650px;
      line-height: 40px;
      margin-left: 70px;
      font-size: 18px;
      font-family: Montserrat;
  }