@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.footer {
    padding: 20px 0;
    margin-left: 70px;
    border-top: 1px solid #ddd;
    text-align: left;
    font-family: 'Montserrat';
    max-width: 1200px;
  }
  
  .head-footer{
    display: flex;
  }
  .footer-content {
    display: flex;
    margin-bottom: 20px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-column-1 {
    margin-left: 300px;
    display:grid;

  }
  
  .footer-link {
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 200px;
  }

  .footer-end{
    display: flex;
    justify-content: space-between; 
    margin-top: 20px
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  .footer-social-link {
    color: #000;
    text-decoration: none;
  }
  
  .footer-social-link svg {
    width: 24px;
    height: 24px;
  }
  
  .footer-rights {
    font-size: 12px;
    color: #888;
  }