@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.mining-stages {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  