@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.navigation {
    display: flex;
    justify-content: right ; 
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.navigation li {
    margin-right: 40px;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

.lang {
    font-size: 12px; 
}

